<table border="3" class="dataframe">
  <thead>
    <tr style="text-align: center;">
      <th>Rank</th>
      <th>Restaurant</th>
      <th>Sales</th>
      <th>Average_Check</th>
      <th>City</th>
      <th>State</th>
      <th>Meals_Served</th>
      <th>Lat</th>
      <th>Lng</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Carmine's (Times Square)</td>
      <td>39080335.0</td>
      <td>40</td>
      <td>New York</td>
      <td>N.Y.</td>
      <td>469803.0</td>
      <td>40.6943</td>
      <td>-73.9249</td>
    </tr>
    <tr>
      <td>2</td>
      <td>The Boathouse Orlando</td>
      <td>35218364.0</td>
      <td>43</td>
      <td>Orlando</td>
      <td>Fla.</td>
      <td>820819.0</td>
      <td>28.4772</td>
      <td>-81.3789</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Old Ebbitt Grill</td>
      <td>29104017.0</td>
      <td>33</td>
      <td>Washington</td>
      <td>D.C.</td>
      <td>892830.0</td>
      <td>38.9047</td>
      <td>-77.0163</td>
    </tr>
    <tr>
      <td>4</td>
      <td>LAVO Italian Restaurant &amp; Nightclub</td>
      <td>26916180.0</td>
      <td>90</td>
      <td>New York</td>
      <td>N.Y.</td>
      <td>198500.0</td>
      <td>40.6943</td>
      <td>-73.9249</td>
    </tr>
    <tr>
      <td>5</td>
      <td>Bryant Park Grill &amp; Cafe</td>
      <td>26900000.0</td>
      <td>62</td>
      <td>New York</td>
      <td>N.Y.</td>
      <td>403000.0</td>
      <td>40.6943</td>
      <td>-73.9249</td>
    </tr>
    <tr>
      <td>6</td>
      <td>Gibsons Bar &amp; Steakhouse</td>
      <td>25409952.0</td>
      <td>80</td>
      <td>Chicago</td>
      <td>Ill.</td>
      <td>348567.0</td>
      <td>41.8373</td>
      <td>-87.6862</td>
    </tr>
    <tr>
      <td>7</td>
      <td>Top of the World at the STRAT</td>
      <td>25233543.0</td>
      <td>103</td>
      <td>Las Vegas</td>
      <td>Nev.</td>
      <td>246054.0</td>
      <td>36.2333</td>
      <td>-115.2654</td>
    </tr>
    <tr>
      <td>8</td>
      <td>Maple &amp; Ash</td>
      <td>24837595.0</td>
      <td>99</td>
      <td>Chicago</td>
      <td>Ill.</td>
      <td>210832.0</td>
      <td>41.8373</td>
      <td>-87.6862</td>
    </tr>
    <tr>
      <td>9</td>
      <td>Balthazar</td>
      <td>24547800.0</td>
      <td>87</td>
      <td>New York</td>
      <td>N.Y.</td>
      <td>519000.0</td>
      <td>40.6943</td>
      <td>-73.9249</td>
    </tr>
    <tr>
      <td>10</td>
      <td>Smith &amp; Wollensky</td>
      <td>24501000.0</td>
      <td>107</td>
      <td>New York</td>
      <td>N.Y.</td>
      <td>257364.0</td>
      <td>40.6943</td>
      <td>-73.9249</td>
    </tr>
    <tr>
      <td>11</td>
      <td>Angus Barn</td>
      <td>24268160.0</td>
      <td>75</td>
      <td>Raleigh</td>
      <td>N.C.</td>
      <td>315000.0</td>
      <td>35.8325</td>
      <td>-78.6435</td>
    </tr>
    <tr>
      <td>12</td>
      <td>Prime 112</td>
      <td>23800000.0</td>
      <td>135</td>
      <td>Miami Beach</td>
      <td>Fla.</td>
      <td>206000.0</td>
      <td>25.8171</td>
      <td>-80.1396</td>
    </tr>
    <tr>
      <td>13</td>
      <td>Joe's Seafood, Prime Steak &amp; Stone Crab</td>
      <td>23660000.0</td>
      <td>86</td>
      <td>Washington</td>
      <td>D.C.</td>
      <td>277850.0</td>
      <td>38.9047</td>
      <td>-77.0163</td>
    </tr>
    <tr>
      <td>14</td>
      <td>Junior's (Times Square)</td>
      <td>23640652.0</td>
      <td>23</td>
      <td>New York</td>
      <td>N.Y.</td>
      <td>914500.0</td>
      <td>40.6943</td>
      <td>-73.9249</td>
    </tr>
    <tr>
      <td>15</td>
      <td>The Hamilton</td>
      <td>23138062.0</td>
      <td>33</td>
      <td>Washington</td>
      <td>D.C.</td>
      <td>700861.0</td>
      <td>38.9047</td>
      <td>-77.0163</td>
    </tr>
    <tr>
      <td>16</td>
      <td>Joe's Seafood, Prime Steak &amp; Stone Crab</td>
      <td>22981600.0</td>
      <td>91</td>
      <td>Chicago</td>
      <td>Ill.</td>
      <td>252500.0</td>
      <td>41.8373</td>
      <td>-87.6862</td>
    </tr>
    <tr>
      <td>17</td>
      <td>Joe's Seafood, Prime Steak &amp; Stone Crab</td>
      <td>22859400.0</td>
      <td>81</td>
      <td>Las Vegas</td>
      <td>Nev.</td>
      <td>286000.0</td>
      <td>36.2333</td>
      <td>-115.2654</td>
    </tr>
    <tr>
      <td>18</td>
      <td>Gibsons Italia</td>
      <td>22749232.0</td>
      <td>108</td>
      <td>Chicago</td>
      <td>Ill.</td>
      <td>252962.0</td>
      <td>41.8373</td>
      <td>-87.6862</td>
    </tr>
    <tr>
      <td>19</td>
      <td>Komodo</td>
      <td>22500000.0</td>
      <td>98</td>
      <td>Miami</td>
      <td>Fla.</td>
      <td>265000.0</td>
      <td>25.7839</td>
      <td>-80.2102</td>
    </tr>
    <tr>
      <td>20</td>
      <td>Buddakan</td>
      <td>22395577.0</td>
      <td>67</td>
      <td>New York</td>
      <td>N.Y.</td>
      <td>221059.0</td>
      <td>40.6943</td>
      <td>-73.9249</td>
    </tr>
    <tr>
      <td>21</td>
      <td>Bazaar Meat by Jose Andres</td>
      <td>22181607.0</td>
      <td>119</td>
      <td>Las Vegas</td>
      <td>Nev.</td>
      <td>190000.0</td>
      <td>36.2333</td>
      <td>-115.2654</td>
    </tr>
    <tr>
      <td>22</td>
      <td>SW Steakhouse</td>
      <td>21523650.0</td>
      <td>149</td>
      <td>Las Vegas</td>
      <td>Nev.</td>
      <td>145700.0</td>
      <td>36.2333</td>
      <td>-115.2654</td>
    </tr>
    <tr>
      <td>23</td>
      <td>St. Elmo Steak House</td>
      <td>21422141.0</td>
      <td>99</td>
      <td>Indianapolis</td>
      <td>Ind.</td>
      <td>192774.0</td>
      <td>39.7771</td>
      <td>-86.1458</td>
    </tr>
    <tr>
      <td>24</td>
      <td>RPM Steak</td>
      <td>20853300.0</td>
      <td>102</td>
      <td>Chicago</td>
      <td>Ill.</td>
      <td>202900.0</td>
      <td>41.8373</td>
      <td>-87.6862</td>
    </tr>
    <tr>
      <td>25</td>
      <td>Mon Ami Gabi</td>
      <td>20120210.0</td>
      <td>76</td>
      <td>Las Vegas</td>
      <td>Nev.</td>
      <td>319200.0</td>
      <td>36.2333</td>
      <td>-115.2654</td>
    </tr>
    <tr>
      <td>26</td>
      <td>Gibsons Bar &amp; Steakhouse</td>
      <td>19831818.0</td>
      <td>81</td>
      <td>Oak Brook</td>
      <td>Ill.</td>
      <td>276444.0</td>
      <td>41.8372</td>
      <td>-87.9513</td>
    </tr>
    <tr>
      <td>27</td>
      <td>Paddlefish</td>
      <td>19829500.0</td>
      <td>48</td>
      <td>Orlando</td>
      <td>Fla.</td>
      <td>417500.0</td>
      <td>28.4772</td>
      <td>-81.3789</td>
    </tr>
    <tr>
      <td>28</td>
      <td>Taste of Texas</td>
      <td>19530159.0</td>
      <td>55</td>
      <td>Houston</td>
      <td>Texas</td>
      <td>375241.0</td>
      <td>29.7863</td>
      <td>-95.3889</td>
    </tr>
    <tr>
      <td>29</td>
      <td>Parc</td>
      <td>19379153.0</td>
      <td>35</td>
      <td>Philadelphia</td>
      <td>Pa.</td>
      <td>486219.0</td>
      <td>40.0077</td>
      <td>-75.1339</td>
    </tr>
    <tr>
      <td>30</td>
      <td>Bob Chinn's Crab House</td>
      <td>18687601.0</td>
      <td>48</td>
      <td>Wheeling</td>
      <td>Ill.</td>
      <td>625907.0</td>
      <td>40.0752</td>
      <td>-80.6951</td>
    </tr>
    <tr>
      <td>31</td>
      <td>Quality Meats</td>
      <td>18678000.0</td>
      <td>115</td>
      <td>New York</td>
      <td>N.Y.</td>
      <td>165148.0</td>
      <td>40.6943</td>
      <td>-73.9249</td>
    </tr>
    <tr>
      <td>32</td>
      <td>Del Posto</td>
      <td>18625033.0</td>
      <td>194</td>
      <td>New York</td>
      <td>N.Y.</td>
      <td>95000.0</td>
      <td>40.6943</td>
      <td>-73.9249</td>
    </tr>
    <tr>
      <td>33</td>
      <td>Shooters Waterfront</td>
      <td>18601433.0</td>
      <td>57</td>
      <td>Ft. Lauderdale</td>
      <td>Fla.</td>
      <td>409752.0</td>
      <td>26.1412</td>
      <td>-80.1373</td>
    </tr>
    <tr>
      <td>34</td>
      <td>Bottega Louie</td>
      <td>18521000.0</td>
      <td>36</td>
      <td>Los Angeles</td>
      <td>Calif.</td>
      <td>322562.0</td>
      <td>34.1139</td>
      <td>-118.4068</td>
    </tr>
    <tr>
      <td>35</td>
      <td>Le Diplomate</td>
      <td>18490719.0</td>
      <td>38</td>
      <td>Washington</td>
      <td>D.C.</td>
      <td>363609.0</td>
      <td>38.9047</td>
      <td>-77.0163</td>
    </tr>
    <tr>
      <td>36</td>
      <td>Gibsons Bar &amp; Steakhouse</td>
      <td>18483056.0</td>
      <td>79</td>
      <td>Rosemont</td>
      <td>Ill.</td>
      <td>252419.0</td>
      <td>41.9868</td>
      <td>-87.8722</td>
    </tr>
    <tr>
      <td>37</td>
      <td>Lavo Italian Restaurant &amp; Lounge</td>
      <td>18386262.0</td>
      <td>97</td>
      <td>Las Vegas</td>
      <td>Nev.</td>
      <td>115500.0</td>
      <td>36.2333</td>
      <td>-115.2654</td>
    </tr>
    <tr>
      <td>38</td>
      <td>Prime Steakhouse</td>
      <td>18248030.0</td>
      <td>173</td>
      <td>Las Vegas</td>
      <td>Nev.</td>
      <td>113600.0</td>
      <td>36.2333</td>
      <td>-115.2654</td>
    </tr>
    <tr>
      <td>39</td>
      <td>Makoto</td>
      <td>18216906.0</td>
      <td>54</td>
      <td>Bal Harbour</td>
      <td>Fla.</td>
      <td>256830.0</td>
      <td>25.8918</td>
      <td>-80.1270</td>
    </tr>
    <tr>
      <td>40</td>
      <td>Original Joe's Westlake</td>
      <td>18159612.0</td>
      <td>35</td>
      <td>Daly City</td>
      <td>Calif.</td>
      <td>473492.0</td>
      <td>37.6862</td>
      <td>-122.4685</td>
    </tr>
    <tr>
      <td>41</td>
      <td>Shaw's Crab House</td>
      <td>17965500.0</td>
      <td>72</td>
      <td>Chicago</td>
      <td>Ill.</td>
      <td>270000.0</td>
      <td>41.8373</td>
      <td>-87.6862</td>
    </tr>
    <tr>
      <td>42</td>
      <td>Founding Farmers (Washington, D.C.)</td>
      <td>17910045.0</td>
      <td>33</td>
      <td>Washington</td>
      <td>D.C.</td>
      <td>648096.0</td>
      <td>38.9047</td>
      <td>-77.0163</td>
    </tr>
    <tr>
      <td>43</td>
      <td>Junior's (49th Street)</td>
      <td>17834390.0</td>
      <td>22</td>
      <td>New York</td>
      <td>N.Y.</td>
      <td>798000.0</td>
      <td>40.6943</td>
      <td>-73.9249</td>
    </tr>
    <tr>
      <td>44</td>
      <td>Chops Lobster Bar</td>
      <td>17816450.0</td>
      <td>106</td>
      <td>Atlanta</td>
      <td>Ga.</td>
      <td>168000.0</td>
      <td>33.7627</td>
      <td>-84.4224</td>
    </tr>
    <tr>
      <td>45</td>
      <td>Chicago Cut Steakhouse</td>
      <td>17743720.0</td>
      <td>95</td>
      <td>Chicago</td>
      <td>Ill.</td>
      <td>211000.0</td>
      <td>41.8373</td>
      <td>-87.6862</td>
    </tr>
    <tr>
      <td>46</td>
      <td>Swift &amp; Sons</td>
      <td>17637400.0</td>
      <td>119</td>
      <td>Chicago</td>
      <td>Ill.</td>
      <td>195343.0</td>
      <td>41.8373</td>
      <td>-87.6862</td>
    </tr>
    <tr>
      <td>47</td>
      <td>Harris Ranch Inn &amp; Restaurant</td>
      <td>17599468.0</td>
      <td>29</td>
      <td>Coalinga</td>
      <td>Calif.</td>
      <td>611928.0</td>
      <td>36.143</td>
      <td>-120.3262</td>
    </tr>
    <tr>
      <td>48</td>
      <td>Sparks Steak House</td>
      <td>17519030.0</td>
      <td>100</td>
      <td>New York</td>
      <td>N.Y.</td>
      <td>198200.0</td>
      <td>40.6943</td>
      <td>-73.9249</td>
    </tr>
    <tr>
      <td>49</td>
      <td>Quality Italian</td>
      <td>17519000.0</td>
      <td>95</td>
      <td>New York</td>
      <td>N.Y.</td>
      <td>177337.0</td>
      <td>40.6943</td>
      <td>-73.9249</td>
    </tr>
    <tr>
      <td>50</td>
      <td>Frankenmuth Bavarian Inn</td>
      <td>17388751.0</td>
      <td>19</td>
      <td>Frankenmuth</td>
      <td>Mich.</td>
      <td>899284.0</td>
      <td>43.3321</td>
      <td>-83.7395</td>
    </tr>
    <tr>
      <td>51</td>
      <td>Tavern on the Green</td>
      <td>17212800.0</td>
      <td>76</td>
      <td>New York</td>
      <td>N.Y.</td>
      <td>250000.0</td>
      <td>40.6943</td>
      <td>-73.9249</td>
    </tr>
    <tr>
      <td>52</td>
      <td>Abe &amp; Louie's</td>
      <td>17063477.0</td>
      <td>106</td>
      <td>Boston</td>
      <td>Mass.</td>
      <td>160762.0</td>
      <td>42.3188</td>
      <td>-71.0846</td>
    </tr>
    <tr>
      <td>53</td>
      <td>Rusty Pelican</td>
      <td>16981741.0</td>
      <td>98</td>
      <td>Miami</td>
      <td>Fla.</td>
      <td>182000.0</td>
      <td>25.7839</td>
      <td>-80.2102</td>
    </tr>
    <tr>
      <td>54</td>
      <td>Beauty &amp; Essex (New York City)</td>
      <td>16364050.0</td>
      <td>90</td>
      <td>New York</td>
      <td>N.Y.</td>
      <td>187970.0</td>
      <td>40.6943</td>
      <td>-73.9249</td>
    </tr>
    <tr>
      <td>55</td>
      <td>Grand Central Oyster Bar</td>
      <td>16304883.0</td>
      <td>62</td>
      <td>New York</td>
      <td>N.Y.</td>
      <td>296000.0</td>
      <td>40.6943</td>
      <td>-73.9249</td>
    </tr>
    <tr>
      <td>56</td>
      <td>Delmonico Steakhouse</td>
      <td>16154000.0</td>
      <td>103</td>
      <td>Las Vegas</td>
      <td>Nev.</td>
      <td>133000.0</td>
      <td>36.2333</td>
      <td>-115.2654</td>
    </tr>
    <tr>
      <td>57</td>
      <td>Portland City Grill</td>
      <td>16111510.0</td>
      <td>83</td>
      <td>Portland</td>
      <td>Ore.</td>
      <td>268062.0</td>
      <td>45.5372</td>
      <td>-122.65</td>
    </tr>
    <tr>
      <td>58</td>
      <td>Zehnder's of Frankenmuth</td>
      <td>16063684.0</td>
      <td>17</td>
      <td>Frankenmuth</td>
      <td>Mich.</td>
      <td>959026.0</td>
      <td>43.3321</td>
      <td>-83.7395</td>
    </tr>
    <tr>
      <td>59</td>
      <td>The Rustic Inn</td>
      <td>15700000.0</td>
      <td>43</td>
      <td>Ft. Lauderdale</td>
      <td>Fla.</td>
      <td>371000.0</td>
      <td>26.1412</td>
      <td>-80.1373</td>
    </tr>
    <tr>
      <td>60</td>
      <td>Harry Caray's Italian Steakhouse</td>
      <td>15680000.0</td>
      <td>59</td>
      <td>Chicago</td>
      <td>Ill.</td>
      <td>287900.0</td>
      <td>41.8373</td>
      <td>-87.6862</td>
    </tr>
    <tr>
      <td>61</td>
      <td>Keens Steakhouse</td>
      <td>15629700.0</td>
      <td>97</td>
      <td>New York</td>
      <td>N.Y.</td>
      <td>168301.0</td>
      <td>40.6943</td>
      <td>-73.9249</td>
    </tr>
    <tr>
      <td>62</td>
      <td>The Lobster House</td>
      <td>15450000.0</td>
      <td>43</td>
      <td>Cape May</td>
      <td>N.J.</td>
      <td>320000.0</td>
      <td>38.9351</td>
      <td>-74.9060</td>
    </tr>
    <tr>
      <td>63</td>
      <td>China Live</td>
      <td>15106280.0</td>
      <td>54</td>
      <td>San Francisco</td>
      <td>Calif.</td>
      <td>300000.0</td>
      <td>37.7562</td>
      <td>-122.443</td>
    </tr>
    <tr>
      <td>64</td>
      <td>Prime &amp; Provisions</td>
      <td>15100000.0</td>
      <td>130</td>
      <td>Chicago</td>
      <td>Ill.</td>
      <td>116154.0</td>
      <td>41.8373</td>
      <td>-87.6862</td>
    </tr>
    <tr>
      <td>65</td>
      <td>Carmine's (Las Vegas)</td>
      <td>15067804.0</td>
      <td>45</td>
      <td>Las Vegas</td>
      <td>Nev.</td>
      <td>176221.0</td>
      <td>36.2333</td>
      <td>-115.2654</td>
    </tr>
    <tr>
      <td>66</td>
      <td>Swan</td>
      <td>15000000.0</td>
      <td>78</td>
      <td>Miami</td>
      <td>Fla.</td>
      <td>225000.0</td>
      <td>25.7839</td>
      <td>-80.2102</td>
    </tr>
    <tr>
      <td>67</td>
      <td>15th Street Fisheries</td>
      <td>14978103.0</td>
      <td>69</td>
      <td>Fort Lauderdale</td>
      <td>Fla.</td>
      <td>356000.0</td>
      <td>26.1412</td>
      <td>-80.1464</td>
    </tr>
    <tr>
      <td>68</td>
      <td>Atlanta Fish Market</td>
      <td>14972300.0</td>
      <td>57</td>
      <td>Atlanta</td>
      <td>Ga.</td>
      <td>274000.0</td>
      <td>33.7627</td>
      <td>-84.4224</td>
    </tr>
    <tr>
      <td>69</td>
      <td>Acme Feed &amp; Seed</td>
      <td>14897125.0</td>
      <td>22</td>
      <td>Nashville</td>
      <td>Tenn.</td>
      <td>527130.0</td>
      <td>36.1715</td>
      <td>-86.7843</td>
    </tr>
    <tr>
      <td>70</td>
      <td>Hugo's Frog Bar &amp; Fish House</td>
      <td>14790123.0</td>
      <td>80</td>
      <td>Chicago</td>
      <td>Ill.</td>
      <td>190616.0</td>
      <td>41.8373</td>
      <td>-87.6862</td>
    </tr>
    <tr>
      <td>71</td>
      <td>Cliff House</td>
      <td>14465847.0</td>
      <td>40</td>
      <td>San Francisco</td>
      <td>Calif.</td>
      <td>199901.0</td>
      <td>37.7562</td>
      <td>-122.443</td>
    </tr>
    <tr>
      <td>72</td>
      <td>Castaway Burbank</td>
      <td>14407413.0</td>
      <td>60</td>
      <td>Burbank</td>
      <td>Calif.</td>
      <td>180320.0</td>
      <td>34.1879</td>
      <td>-118.3235</td>
    </tr>
    <tr>
      <td>73</td>
      <td>Matt's El Rancho</td>
      <td>14381904.0</td>
      <td>29</td>
      <td>Austin</td>
      <td>Texas</td>
      <td>495927.0</td>
      <td>30.3004</td>
      <td>-97.7522</td>
    </tr>
    <tr>
      <td>74</td>
      <td>Timberline Steaks and Grille</td>
      <td>14362103.0</td>
      <td>37</td>
      <td>Denver</td>
      <td>Colo.</td>
      <td>553378.0</td>
      <td>39.7621</td>
      <td>-104.8759</td>
    </tr>
    <tr>
      <td>75</td>
      <td>Beauty &amp; Essex (Las Vegas)</td>
      <td>14130500.0</td>
      <td>99</td>
      <td>Las Vegas</td>
      <td>Nev.</td>
      <td>150000.0</td>
      <td>36.2333</td>
      <td>-115.2654</td>
    </tr>
    <tr>
      <td>76</td>
      <td>Carmine's (Atlantic City)</td>
      <td>13987843.0</td>
      <td>39</td>
      <td>Atlantic City</td>
      <td>N.J.</td>
      <td>129630.0</td>
      <td>39.3797</td>
      <td>-74.4527</td>
    </tr>
    <tr>
      <td>77</td>
      <td>Junior's (Brooklyn)</td>
      <td>13908292.0</td>
      <td>23</td>
      <td>New York</td>
      <td>N.Y.</td>
      <td>359000.0</td>
      <td>40.6943</td>
      <td>-73.9249</td>
    </tr>
    <tr>
      <td>78</td>
      <td>Quartino Ristorante &amp; Wine Bar</td>
      <td>13854856.0</td>
      <td>32</td>
      <td>Chicago</td>
      <td>Ill.</td>
      <td>394582.0</td>
      <td>41.8373</td>
      <td>-87.6862</td>
    </tr>
    <tr>
      <td>79</td>
      <td>Paradise Cove Beach Cafe</td>
      <td>13654113.0</td>
      <td>39</td>
      <td>Malibu</td>
      <td>Calif.</td>
      <td>312050.0</td>
      <td>34.0368</td>
      <td>-118.7845</td>
    </tr>
    <tr>
      <td>80</td>
      <td>BOA Steakhouse</td>
      <td>13552485.0</td>
      <td>110</td>
      <td>West Hollywood</td>
      <td>Calif.</td>
      <td>123204.0</td>
      <td>34.0882</td>
      <td>-118.3718</td>
    </tr>
    <tr>
      <td>81</td>
      <td>Original Joe's</td>
      <td>13177468.0</td>
      <td>45</td>
      <td>San Francisco</td>
      <td>Calif.</td>
      <td>267533.0</td>
      <td>37.7562</td>
      <td>-122.443</td>
    </tr>
    <tr>
      <td>82</td>
      <td>Founding Farmers (McLean, Va.)</td>
      <td>13102742.0</td>
      <td>38</td>
      <td>McLean</td>
      <td>Va.</td>
      <td>390104.0</td>
      <td>38.9436</td>
      <td>-77.1943</td>
    </tr>
    <tr>
      <td>83</td>
      <td>Siena Tavern</td>
      <td>13100000.0</td>
      <td>55</td>
      <td>Chicago</td>
      <td>Ill.</td>
      <td>238182.0</td>
      <td>41.8373</td>
      <td>-87.6862</td>
    </tr>
    <tr>
      <td>84</td>
      <td>Girl &amp; the Goat</td>
      <td>12894700.0</td>
      <td>82</td>
      <td>Chicago</td>
      <td>Ill.</td>
      <td>183000.0</td>
      <td>41.8373</td>
      <td>-87.6862</td>
    </tr>
    <tr>
      <td>85</td>
      <td>Tavern on Rush</td>
      <td>12884000.0</td>
      <td>72</td>
      <td>Chicago</td>
      <td>Ill.</td>
      <td>178944.0</td>
      <td>41.8373</td>
      <td>-87.6862</td>
    </tr>
    <tr>
      <td>86</td>
      <td>Harry &amp; Izzy's Circle Centre</td>
      <td>12809921.0</td>
      <td>66</td>
      <td>Indianapolis</td>
      <td>Ind.</td>
      <td>174166.0</td>
      <td>39.7771</td>
      <td>-86.1458</td>
    </tr>
    <tr>
      <td>87</td>
      <td>Scoma's</td>
      <td>12713394.0</td>
      <td>65</td>
      <td>San Francisco</td>
      <td>Calif.</td>
      <td>292000.0</td>
      <td>37.7562</td>
      <td>-122.443</td>
    </tr>
    <tr>
      <td>88</td>
      <td>Farmers Fishers Bakers</td>
      <td>12572109.0</td>
      <td>37</td>
      <td>Washington</td>
      <td>D.C.</td>
      <td>371025.0</td>
      <td>38.9047</td>
      <td>-77.0163</td>
    </tr>
    <tr>
      <td>89</td>
      <td>Southern Steak &amp; Oyster</td>
      <td>12566618.0</td>
      <td>39</td>
      <td>Nashville</td>
      <td>Tenn.</td>
      <td>337920.0</td>
      <td>36.1715</td>
      <td>-86.7843</td>
    </tr>
    <tr>
      <td>90</td>
      <td>Big Texan Steak Ranch</td>
      <td>12505200.0</td>
      <td>24</td>
      <td>Amarillo</td>
      <td>Texas</td>
      <td>478000.0</td>
      <td>35.1988</td>
      <td>-101.8311</td>
    </tr>
    <tr>
      <td>91</td>
      <td>Park Avenue Summer (Autumn, Winter, Spring)</td>
      <td>12498000.0</td>
      <td>84</td>
      <td>New York</td>
      <td>N.Y.</td>
      <td>164531.0</td>
      <td>40.6943</td>
      <td>-73.9249</td>
    </tr>
    <tr>
      <td>92</td>
      <td>Farmers &amp; Distillers</td>
      <td>12278839.0</td>
      <td>36</td>
      <td>Washington</td>
      <td>D.C.</td>
      <td>375309.0</td>
      <td>38.9047</td>
      <td>-77.0163</td>
    </tr>
    <tr>
      <td>93</td>
      <td>Virgil's Real Barbecue</td>
      <td>12245998.0</td>
      <td>31</td>
      <td>New York</td>
      <td>N.Y.</td>
      <td>251800.0</td>
      <td>40.6943</td>
      <td>-73.9249</td>
    </tr>
    <tr>
      <td>94</td>
      <td>Carmine's (Washington, D.C.)</td>
      <td>12228168.0</td>
      <td>39</td>
      <td>Washington</td>
      <td>D.C.</td>
      <td>148135.0</td>
      <td>38.9047</td>
      <td>-77.0163</td>
    </tr>
    <tr>
      <td>95</td>
      <td>Franciscan Crab Restaurant</td>
      <td>12218147.0</td>
      <td>59</td>
      <td>San Francisco</td>
      <td>Calif.</td>
      <td>240000.0</td>
      <td>37.7562</td>
      <td>-122.443</td>
    </tr>
    <tr>
      <td>96</td>
      <td>George's at the Cove</td>
      <td>12194000.0</td>
      <td>80</td>
      <td>La Jolla</td>
      <td>Calif.</td>
      <td>250000.0</td>
      <td>32.8328</td>
      <td>-117.2713</td>
    </tr>
    <tr>
      <td>97</td>
      <td>Le Coucou</td>
      <td>12187523.0</td>
      <td>95</td>
      <td>New York</td>
      <td>N.Y.</td>
      <td>87070.0</td>
      <td>40.6943</td>
      <td>-73.9249</td>
    </tr>
    <tr>
      <td>98</td>
      <td>Mi Vida</td>
      <td>12032014.0</td>
      <td>38</td>
      <td>Washington</td>
      <td>D.C.</td>
      <td>226226.0</td>
      <td>38.9047</td>
      <td>-77.0163</td>
    </tr>
    <tr>
      <td>99</td>
      <td>Upland</td>
      <td>11965564.0</td>
      <td>52</td>
      <td>New York</td>
      <td>N.Y.</td>
      <td>171825.0</td>
      <td>40.6943</td>
      <td>-73.9249</td>
    </tr>
    <tr>
      <td>100</td>
      <td>Virgil's Real Barbecue</td>
      <td>11391678.0</td>
      <td>27</td>
      <td>Las Vegas</td>
      <td>Nev.</td>
      <td>208276.0</td>
      <td>36.2333</td>
      <td>-115.2654</td>
    </tr>
  </tbody>
</table>